@charset "utf-8";
/* CSS Document */

.footera{
	text-align:center;
}
.footera a{
	color:#b73122;
}
.navbar{
	border-radius:0px 0px 10px 10px;
	position:absolute;
	background-color:#b75f5f;
	height:20px;
	width:100%;
}
.navbarhead{
	float:left;
	width:60px;
	font-size:35px;
}
.navbarhead a{
	color:#4c130d;
	margin-left:10px;
}
.navbarlinks{
	color:#4c130d;
	border-radius:10px;
	float:left;
	font-size:25px;
	margin-top:12px;
	margin-left:15px;
}
.navbarlinks a{
	color:#fff;
}
.space{
	height:60px;
}
.text{
	color:black;
	background-color:#ed382;
}
.text h2{
	color:#b73122 ;
}
.text ul li{
	/*color:#ed3825;*/
}
#gazeta{
	
}
#gazeta h1{
	color:#b73122;
	font-size:;
}
#igazeta{
	margin:25px;
}
.boxes{
	
}
