@charset "utf-8";
/* CSS Document */

.footera{
	text-align:center;
}
.footera a{
	color:#b73122;
}
.navbar{
	border-radius:10px;
	position:absolute;
	background-color:red;
	height:20px;
	width:100%;
	margin-top:-50px;
}
.navbarhead{
	margin:border-radius:10px;
	float:left;
	width:60px;
	font-size:35px;
}
.navbarhead a{
	color:#4c130d;
	margin-left:10px;
}
.navbarlinks{
	color:#4c130d;
	border-radius:10px;
	float:left;
	font-size:25px;
	margin-top:12px;
	margin-left:15px;
}
.navbarlinks a{
	color:#fff;
}
.dvideo{
	margin-top:50px;
}